* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}


.video {
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video {
        width: auto;
        height: 100%;
    }
}

.mainContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8064) 43.23%, rgba(27, 27, 27, 0.5376) 100%, rgba(27, 27, 27, 0.3108) 100%);
    border-radius: 0px 0px 30px 0px;
}

/*INFO*/

.info {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.infoBg {
    width: 85%;
    height: 120%;
    position: relative;
    display: flex;
    align-items: flex-end;
    bottom: 10%;
    background: linear-gradient(180deg, rgba(227, 203, 123, 0.58) 4.17%, rgba(227, 203, 123, 0) 100%);
    filter: drop-shadow(1px 2px 15px rgba(0, 0, 0, 0.15));
    border-radius: 55px;
}

.infoContainer {
    width: 100%;
    height: 80%;
    position: relative;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.infoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoUserAvatar {
    width: 177px;
    height: 177px;
}

.infoUserName {
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}

.infoUserLevelIcon {
    margin-right: 7px;
}

.infoUserLevel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.infoUserLevelText {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.infoUserLanguage {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoUserLanguageLang {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #E3CB7B;
}

.langEn {
    margin: 0 10px;
}

.infoDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoDateHour {
    font-weight: bold;
    font-size: 64px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
}

.infoDateDay {
    margin-top: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.infoSocial {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoSocialParagraph {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #CBB66F;
}

.infoSocialList {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.infoSocialListItem {
    margin: 0 20px;
    width: 25px;
    height: 25px;
}

/*MENU*/
.menu {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuLogo {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.menuLogoImg {
    width: 145px;
    height: 130px;
}

.menuItems {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.menuItem {
    cursor: pointer;
    margin: 40px 0;
    width: 141px;
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
}

.menuItem:hover {
    transform: scale(1.2);
}

.menuItem:active {
    transform: scale(0.9);
}

.circle {
    width: 100%;
}

.menuItemContent {
    position: absolute;
    text-align: center;
    width: 135px;
}

.menuItemLogo {
    width: 40px;
    height: 40px;
}

.menuItemText {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E3CB7B;
}

@media screen and (max-width: 415px) {

    .info {
        width: 100%;
        align-items: flex-end;
    }

    .infoBg {
        width: 100%;
        height: 100%;
        top: 20%;
    }
    
    .infoContainer {
        height: 90%;
        bottom: 25%;
    }

    .infoUserName {
        font-size: 24px;
        line-height: 29px;

    }
    
    .infoUserLevelText {
        font-size: 14px;
        line-height: 17px;
    }
    
    
    .infoUserLanguage {
        display: none;
    }
    
    .infoDateHour {
        font-size: 48px;
        line-height: 36px;
    }
    
    .infoDateDay {
        font-size: 18px;
        line-height: 36px;
    }
    

    .menu {
        display: none;
    }
}